{% extends 'base.html.twig' %}

{% block title %}Hello ProjectsController!{% endblock %}
{% block menu_class %}menu_class{% endblock %}

{% block body %}

    <main class="section-container projects-container">
        <div class="content ">
            <h1>{{ project.name }}</h1>
            <div class="project-container">

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci earum in incidunt iste nihil pariatur, possimus quaerat quod sequi. Ad adipisci architecto culpa laboriosam nulla sit ullam, ut veritatis voluptatum!</p>

            </div>
        </div>
    </main>

{% endblock %}
