{% extends 'base.html.twig' %}

{% block title %} Parcours{% endblock %}

{% block body %}
<main class="section-container parcours-container">
    <div class="parcours-wrapper">
        <div class="name">
            <h1>Mon parcours</h1>
        </div>

        <div class="timeline">
            <ul>
                <li>
                    <h2>Développeur web</h2>
                    <h3>Ludilabel</h3>
                    <div class="date">2021-2025</div>
                </li>
                <li>
                    <h2>Formatin Java/Angular</h2>
                    <h3>Aelion</h3>
                    <span class="date">2020</span>
                </li>
                <li>
                    <h2>Formation Développeur Web</h2>
                    <h3>Adrar</h3>
                </li>
                <li>
                    <h2> Master 1 NUMIC</h2>
                    <h3>Université Rennes 2</h3>
                    <span class="date">2026/2017</span>
                </li>
                <li>
                    <h2>Licence Cinéma</h2>
                    <h3>Université Paul Valéry</h3>
                    <span class="date">2010/2012</span>
                </li>
                <li></li>
            </ul>
        </div>

    </div>

</main>
{% endblock %}