{% extends 'base.html.twig' %}

{% block title %} Accueil{% endblock %}

{% block body %}
<main class="section-container about-container">
    <div class="about-me-wrapper">
           <div class="name">
               <h1>Sylvain Pillet</h1>
               <img src="{{ asset('images/arrow.png') }}" class="arrow" alt="dessin de flêche" width="220" height="200">
           </div>
           <div class="image-wrapper">
               <img src="{{ asset('images/me.png') }}" class="profile" alt="photo de profil" width="400">
           </div>
        <div class="tags">
            <ul>
                <li>Conception de Bases de données</li>
                <li>Développement Back-end</li>
                <li>Développement Front-end</li>
                <li>Git Workflow</li>
            </ul>
        </div>
    </div>
    <div class="text-container">
        <span class="info age" data-move="left">34 ans</span>
        <span class="info dev" data-move="bottom">Développeur</span>
        <div class="text-wrapper">
            <p>J'ai débuté par l'intégration web en <b>2017</b> avant de me former aux autres technologies web par moi-même pour ensuite de rejoindre en <b>2019</b> une formation en développement à <b>Toulouse</b>.
            </p>
            <p>
                Suite à quoi j'ai creusé différentes technologies avant de revenir aux bases du web et au <b>PHP</b> en rejoignant une alternance de <b>Concepteur Développeur</b> autour de <b>Symfony</b>, <b>React</b>
                et du E-commerce avec <b>Magento</b> auprès de l'entreprise <b>Ludilabel</b>
                <br>
                Mes missions touchant principalement au frontend et à l'<b>UX/UI</b> sur la refonte du site de l'entreprise.
                <br>
                Le développement d'un outil de personnalisation destiné à être intégré au nouveau site me permet également de mêler le frontend et le backend en utilisant <b>Symfony</b> et <b>React</b>.
                </Ludilabel>
            </p>
            <p>J'apprécie dans le développement et plus précisément le développement <b>fullstack</b>, l'impression de donner vie à des choses assez abstraites en créant les modèles de données
                et en leur donnant forme à travers leur passsage par les différentes couches de l'application jusqu'à l'affichage final.
            </p>

            <p>
                Sinon je suis aussi passionné de <b>Cinéma</b>, ou de sport, j'ai pratiqué le <b>foot</b> pendant 16 ans et je pratique maintenant <b>l'escalade</b> depuis 6 ans.
                <br>
                Récemment dabarqué dans les <b>Hautes-Pyrennées</b>, j'apprécie leur vue imposante ainsi que le défi d'aller quelque-fois affronter ses sommets en randonnant.
            </p>

        </div>
        <span class="info where" data-move="top">Hautes <br> Pyrénnées</span>
        <span class="info grimpe" data-move="right">Grimpeur</span>
    </div>

</main>
{% endblock %}