{% extends 'base.html.twig' %}

{% block title %} Accueil{% endblock %}

{% block body %}
<main class="homepage">
    <div class="hero-area">
        <div class="presentation">
            <div class="person">
                <h1> <span class="concepteur title"> <span class="first-letter">C</span>oncepteur </span>
                    <span class="dev title"><span class="first-letter">D</span>éveloppeur</span>
                </h1>

            </div>
            <div class="picture-wrapper">
                <img src="{{ asset("images/self.png")}}" alt="photo de profil" width="300">
                <h2>Sylvain Pillet</h2>
            </div>
        </div>

        <button class="project-link"><a href="{{ path('app_projects') }}">Projets</a></button>
        <img class="shape" src="{{ asset('images/shape.svg') }}" alt="">
    </div>

</main>
{% endblock %}
