.section-container{
  .about-me-wrapper{
    display: flex;
    margin: 120px auto 40px auto;
    justify-content: center;
    position: relative;
    h1{
      font-family: effortless, serif;
      font-size: 2.2rem;
      text-transform: capitalize;
      z-index: 12;
      position: relative;
    }
    .name{
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      position: relative;
    }
    img{
      &.arrow{
        transform: rotate(75deg);
        z-index: 10;
        position: absolute;
        top: 40px;
        right: -37%;
      }
      &.me{
        z-index: 8;
        position: relative;
      }
    }
    .image-wrapper{
      position: relative;
      margin-left: 30px;
    }

    @media screen and (max-width: 768px) {
        flex-direction: column;
        .name{
          align-items: center;
          img {
            &.arrow {
              right: 0;
              position: absolute;
              left: 103px;
              transform: rotate(96deg);
            }
          }
        }
        .image-wrapper{
          margin: auto;
          display: flex;
          justify-content: center;
        }
    }

    span.info{
      position: absolute;
      background: url("../images/paint.png") no-repeat center;
      background-size:contain;
      width: 200px;
      height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $yellow;
      font-weight: bold;
      transition: top 0.2s ease-out, left 0.2s ease-out, bottom 0.2s ease-in-out, right .2s ease-in-out;
      @media screen and (max-width: 1048px) {
        width: 160px;
        height: 160px;
        font-size: .9rem;
      }
      @media screen and (max-width: 800px) {
        display: none !important;
      }
      &.dev{
        top: 0;
        left: 20px;
      }
      &.grimpe{
        top: 80px;
        right: 12%;
        @media screen and (max-width: 1260px) {
          top: 140px;
          right: 20px;
        }
      }
      &.where{
        bottom: 8px;
        left: 14%;
      }
      &.age{
        bottom: 160px;
        right: 60px;
      }
      &.bounce{
        animation: bounce 1.2s  ease-in-out infinite;
      }
    }

  }
  .text-wrapper{
    background-color: $yellow;
    padding: 60px;
  }
}

@-webkit-keyframes bounce {
  from, to { transform: scale(1, 1); }
  25% { transform: scale(0.9, 1.1); }
  50% { transform: scale(1.1, 0.9); }
  75% { transform: scale(0.95, 1.05); }
}
