@font-face {
  font-family: 'montserrat';
  src: url('../../assets/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$yellow: #E4D00A;
$purple: #642970;

body, html{
  padding: 0;
  margin: 0;
}
html{
  scroll-behavior: smooth;
}
body{
  font-family: "montserrat", serif;
  margin-top: -20px;
}
*, *:before, *:after {
  box-sizing: border-box;
}
ul{
  list-style-type: none;
}



.section-container{
  position: relative;


//.content{
//  @media screen and (min-width: 768px) {
//    margin: 0 60px;
//  }
//  @media screen and (max-width: 768px) {
//    margin: 0 20px;
//  }
//  @media screen and (max-width: 768px) {
//    margin: 0 14px;
//  }
//}
}

button.cta{
  width: 200px;
  display: flex;
  text-align: center;
  align-items: center;
  height: 40px;
  position: relative;
  overflow: hidden;
  padding: 4px;
  border: none;
  &::before{
    position: absolute;
    content:"";
    left: -8px;
    transform: rotate(10deg);
    width: 108%;
    height: 100%;
    transition: trasform 2s;
  }
  &.project-links{
    margin:auto auto 40px auto;
    &::before{
      background-color: $yellow;
    }
  }
  &.mail-cta{
    margin: 40px auto;
    &::before{
      background-color:$purple;
    }
  }
  &:hover::before{
    animation: animate 1.2s  ease-in-out;
  }
  a, span{
    z-index: 12;
    text-align: center;
    height: 34px;
    padding: 4px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $yellow;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
  }
  a{
    background-color: #36013f;
  }
  span{
    background-color: #fff;
    color: $purple;
    cursor: pointer;
  }
}

footer{
  background-color: #333;
  min-height: 300px;
  width: 100%;
  display: flex;justify-content: center;
  align-items: center;
  color: $yellow;
  z-index: 16;
}

@import "home";
@import "projects";
@import "about";
@import "nav";
@import "parcours";
@import "contact";