@font-face {
  font-family: 'montserrat';
  src: url('../../assets/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$yellow: #E4D00A;
$purple: #36013f;

body, html{
  padding: 0;
  margin: 0;
}
html{
  scroll-behavior: smooth;
}
body{
  font-family: "montserrat", serif;
  margin-top: -20px;
}
*, *:before, *:after {
  box-sizing: border-box;
}
ul{
  list-style-type: none;
}



.section-container{
  position: relative;


//.content{
//  @media screen and (min-width: 768px) {
//    margin: 0 60px;
//  }
//  @media screen and (max-width: 768px) {
//    margin: 0 20px;
//  }
//  @media screen and (max-width: 768px) {
//    margin: 0 14px;
//  }
//}
}

footer{
  background-color: #333;
  min-height: 300px;
  width: 100%;
  display: flex;justify-content: center;
  align-items: center;
  color: $yellow;
}

@import "home";
@import "projects";
@import "about";
@import "nav";