@font-face {
  font-family: 'effortless', serif;
  src: url('../../assets/fonts/effortless.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


.homepage{
  .hero-area{
    @media screen and (min-width: 768px) {
      height: 100vh;
    }
    background: linear-gradient(-128deg, $purple, #5E3365);
    display: flex;
    flex-direction: column;
    .presentation{
      display: flex;
      align-items: center;
      justify-content: space-around;
      position: relative;
      margin-top: 90px;
      flex-wrap: wrap;
      .person{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: fit-content;
        max-height: 80%;
        align-items: flex-start;
        h1{
          @media screen and (min-width: 768px) {
            font-size: 4rem;
          }
          @media screen and (max-width: 768px) {
            font-size: 2rem;
          }
          display: flex;
          margin: 0;
          padding-bottom: 40px;
          flex-direction: column;
          font-family: effortless, serif;
          background: -webkit-linear-gradient($yellow 54%, orange);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          .title{
            display: flex;
          }
          .concepteur{
            align-items: baseline;
          }
          .dev{
            align-items: flex-start;
          }
          @media screen and (min-width: 768px) {
            span.first-letter {
              font-size: 14rem;
              line-height: 132px;
            }
          }
          @media screen and (max-width: 768px) {
            span.first-letter{
              font-size: 6rem;
              line-height: 50px;
            }
          }

        }
        h2{
          color: #fff;
          @media screen and (max-width: 768px) {
           margin: 0 auto 20px auto;
            text-align: center;
          }
        }
      }
      .picture-wrapper img{
        width: 300px;
        height: 300px;
        @media screen and (max-width: 768px) {
          width: 200px;
          height: 200px;
          margin-bottom: 20px;
        }
        border-radius: 50%;
        z-index: 16;
        position: relative;
      }
      @media screen and (max-width: 768px) {
        flex-direction: column;
      }
    }
    img.shape{
      position: absolute;
      width: 735px;
      right: 0;
      bottom: 0;
      z-index: 4;
      @media screen and (max-width: 768px) {
        display: none;
      }
    }
  }
}

@keyframes animate {
  from {
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}