.homepage{
  .hero-area{
    @media screen and (min-width: 768px) {
      height: 100vh;
    }
    @media screen and (max-width: 768px) {
      padding-bottom: 20px;
    }
    background: linear-gradient(-128deg, $purple, #5E3365);
    display: flex;
    flex-direction: column;
    .presentation{
      display: flex;
      align-items: center;
      justify-content: space-around;
      position: relative;
      margin-top: 120px;
      flex-wrap: wrap;
      @media screen and (max-width: 768px) {
        flex-direction: column;
        margin-top: 80px;
      }
      .person{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: fit-content;
        max-height: 80%;
        align-items: flex-start;
        h1{
          @media screen and (min-width: 768px) {
            font-size: 4rem;
          }
          @media screen and (max-width: 768px) {
            font-size: 2rem;
          }
          display: flex;
          margin: 0;
          padding-bottom: 40px;
          flex-direction: column;
          font-family: 'effortless', serif;
          background: -webkit-linear-gradient($yellow 54%, orange);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          .title{
            display: flex;
          }
          .concepteur{
            align-items: baseline;
          }
          .dev{
            align-items: flex-start;
          }
          @media screen and (min-width: 768px) {
            span.first-letter {
              font-size: 14rem;
              line-height: 132px;
            }
          }
          @media screen and (max-width: 768px) {
            span.first-letter{
              font-size: 6rem;
              line-height: 50px;
            }
          }

        }
      }
      .picture-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        img{
          width: 300px;
          height: auto;
          @media screen and (max-width: 768px) {
            width: 200px;
            margin-bottom: 20px;
          }
          z-index: 16;
          position: relative;
        }
        h2{
          color: #000;
          z-index: 20;
          margin-top: 0;
          @media screen and (max-width: 768px) {
            margin: 0 auto 20px auto;
            text-align: center;
          }
        }
      }

    }
    img.shape{
      position: absolute;
      width: 735px;
      right: 0;
      bottom: 0;
      z-index: 4;
      @media screen and (max-width: 768px) {
        display: none;
      }
    }

    .project-link {
      z-index: 12;
      min-width: 180px;
      margin: auto;
      --b: 3px;   /* border thickness */
      --s: .45em; /* size of the corner */
      --color: #E4D00A;
      padding: 0;
      height: 50px;
      color: var(--color);
      --_p: var(--s);
      background:
              conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
              var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
      transition: .3s linear, color 0s, background-color 0s;
      outline: var(--b) solid #0000;
      outline-offset: .6em;
      font-size: 16px;
      font-weight: bold;
      border: 0;
      //padding: 0;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      a{
        text-align: center;
        cursor: pointer;
        color: $yellow;
        display: flex;
        justify-content: center;
      }
    }

    .project-link:hover,
    .project-link:focus-visible{
      --_p: 0px;
      outline-color: var(--color);
      outline-offset: .05em;
    }
    .project-link:active {
      background: var(--color);
      a{
        color: $purple;
      }
    }
  }
}
