.section-container {
  .parcours-wrapper {
    display: flex;
    margin: 120px auto 40px auto;
    justify-content: center;
    position: relative;
    flex-direction: column;
    h1 {
      font-family: effortless, serif;
      font-size: 2.2rem;
      text-transform: capitalize;
      z-index: 12;
      position: relative;
      text-align: center;
    }

    .timeline-item {
      display: flex;
      line-height: 1.2em;
      border-top: 3px solid;
      border-image: linear-gradient(to right, $purple 0%, #c183cc 100%);
      border-image-slice: 1;
      margin: auto;
      padding: 30px;
      counter-increment: section;
      position: relative;
      width: 80%;
      .timeline-content{
        //display: flex;
        //justify-content: center;
        //flex-direction: column;
        //margin: auto;
      }
      ul{
        display: flex;
        justify-content: center;
        gap: 12px;
        flex-wrap: wrap;
        li{
          color: $purple;
          background-color: $yellow;
          padding: 6px 12px;
          font-weight: bold;
          &::after {
            height: 2.375rem;
            width: 2.375rem;
            top: -1px;
            right: -1px;
            transform: rotate(-30deg) translateX(1.1875rem);
          }
        }

      }
      .date{
        position: absolute;
        background-color: $purple;
        color: #fff;
        line-height: 1.25em;
        top: 18px;
        border-radius: 2px;
        padding: 4px 16px;
        &:after{
          position: absolute;
          content: "";
          width: 0;
          border-top: 15px solid transparent;
          border-bottom: 14px solid transparent;
          height: 20px;
          background-color: #fff;
          color: $purple;
          top: 0;
        }
      }
    }
    //odd number borders
    .timeline-item:nth-child(odd) {
      border-right: 3px solid;
      padding-left: 50px;
      justify-content: flex-end;
      text-align: right;
      .date {
        left: 100%;
        margin-left: -10px;
        &::after {
          right: 96%;
          border-right-width: 19px;
          border-right-style: solid;
        }
      }
    }
    //even number borders
    .timeline-item:nth-child(even) {
      border-left: 3px solid;
      padding-right: 0;
      .date {
        right: 100%;
        margin-right: -10px;
        &::after{
          left: 96%;
          border-left-width: 19px;
          border-left-style: solid;
        }
      }
    }
    //handle first and last
    .timeline-item:first-child {
      border-top: 0;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
    }
    .timeline-item:last-child {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  .toolkit-wrapper{
    background-color: $purple;
    display: flex;
    @media screen and (min-width: 768px) {
      justify-content: flex-start;
    }
    @media screen and (max-width: 768px) {
      flex-direction:column ;
      justify-content: center;
    }
    align-items: center;
    flex-wrap: wrap;
    .toolkit{
      margin-left: 60px;
      width: 23%;
      min-width: 180px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 200px;
      background: url("../images/curved_shape.png") no-repeat center;
      background-size: contain;
      span{
        font-size: 1.6rem;
        color: $purple;
        font-weight: bold;
        transform: rotate(-12deg);
      }
    }
  }

  .tag-list {
    @media screen and (min-width: 768px) {
       width: 60%;
    }
    @media screen and (max-width: 768px) {
      width: 100%;
    }
    min-width: 300px;
    max-width: 90vw;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    gap: 1rem 0;
    position: relative;
    padding: 1.5rem 0;
    overflow: hidden;
    margin: auto;
  }

  .loop-slider {
    .inner {
      display: flex;
      width: fit-content;
      animation-name: loop;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-direction: var(--direction);
      animation-duration: var(--duration);
    }
  }

  .tag {
    display: flex;
    align-items: center;
    min-width: 120px;
    justify-content: center;
    gap: 0 0.2rem;
    color: #e2e8f0;
    font-size: 0.9rem;
    background-color: $purple;
    border-radius: 0.4rem;
    padding: 0.7rem 1rem;
    margin-right: 1rem; // Must used margin-right instead of gap for the loop to be smooth
    box-shadow:
            0 0.1rem 0.2rem rgb(0 0 0 / 20%),
            0 0.1rem 0.5rem rgb(0 0 0 / 30%),
            0 0.2rem 1.5rem rgb(0 0 0 / 40%);

    span {
      font-size: 1.2rem;
      color: #64748b;
    }
  }

  .fade {
    pointer-events: none;
    background: linear-gradient(90deg, $purple, transparent 30%, transparent 70%, $purple);
    position: absolute;
    inset: 0;
  }

  @keyframes loop {
    0% {
      transform: translateX(10%);
    }
    100% {
      transform: translateX(0%);
    }
  }

}